<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <h2>Registration</h2>
        <form th:action="@{/register}" method="post" th:object="${user}">
			<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error"></div>
			<label>Username:</label>
            <input type="text" th:field="*{username}" required/><br/>
			<p th:if="${usernameError != null}" th:text="${usernameError}" style="color: red;"></p> 
            <label>Password:</label>
            <input type="password" th:field="*{password}" required/><br/>
            
            <label>Email:</label>
            <input type="email" th:field="*{email}" required/><br/>
            
            <label>Full Name:</label>
            <input type="text" th:field="*{fullName}" required/><br/>
            
            <button type="submit">Register</button>
        </form>
        
        <a th:href="@{/login}">Already have an account? Login here</a>
    </div>
</body>
</html>
